img {
    width: 200px;
    height: 300px;
}
.flex{
display: flex;
justify-content: space-between;
list-style: none !important;

font-size:16px;
padding:9px 27px 9px 30px;                       
line-height: 22px;
margin:0;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
overflow-x: hidden;
text-decoration: none;



}
.vl {
    border-left: 1px solid gray;
    height:1355px;
    padding-left: 0px;
    margin-left: -620px;
    margin-top: -331px;
}
.box img {
    width: 62px;
    height: 82px;
}
.box2 img {
    object-fit: contain;
}

.main {
    justify-content: initial;
    gap: 3rem;
}